@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:15px 100px;
  z-index: 999;
  transition: 0.3s ease;
}

header .menu{
  position: relative;
}

header .menu-items a{
  position: relative;
  color: #ffffff;
  font-size: 18px;
  margin-left:30px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s ease;
  
}

header .menu-items a::before{
  position: absolute;
  content: "";
  bottom:0;
  left: 0;
  width:0%; 
  height: 3px;
  background-color: #0f8c44;
  transition: 0.3s ease;

}

header .menu-items a:hover::before{
  width: 100%;
}


header .logo{
    margin-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    transition: 0.3s ease;
    color: #0f8c44 ;
    
}
header .logo:hover{
  color:#0f8c44;
}

header .logo span{
    color: rgb(248, 172, 31);
}
  
section{
  padding: 100px 150px;
}
.home{
  position:relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  display:flex;
  min-height: 100vh;
  background-color: #0f8c44;
}
.home::before{
  position: absolute;
  top: 0;
  left:0;
  background-color: rgba(3, 96, 251, 0.308);
  width:100%;
  height:100%;
  content: "";
  z-index: 777;

  
}
.home video{
  position: absolute;
  z-index:000;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  object-fit: cover;
} 

.banner-text{
  color: #fff;
  width: 70%;
  margin-top: 100px;
  text-align: left;
  z-index:888;
}

.banner-text h1{
    font-family: 'Parisienne', cursive;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    /* margin: 500px auto auto auto;  */
    
  } 
.banner-text p{
  margin: 2rem auto 2rem auto;
  font-size: 1rem;
  line-height: 1.5rem;
  
}

.banner-text a{
  background-color:rgba(255, 255, 255, 0);
  padding: 15px 20px;
  text-decoration: none;
  color: #fff; 
  margin-top: 20px;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 10px;
  border-color: #fff;
}

.banner-text a:hover{
  color:#000;
  background-color: #fff;
  transition: 0.3s ease;
}

.media-icon{
  position:absolute;
  display: flex;
  flex-direction: column;
  right:30px;
  z-index: 888;
  transition: 0.5 ease;
}
.media-icon i{
  color: #fff;
  cursor:pointer;
  font-size: 1.5rem;
  line-height: 2rem;
}

  .rl-form{
    z-index:888;
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 100rem;
    padding: 2.4rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    background: #fff;
  }

  .rl-form .rl-input-group {
    background-color: #fff;
    border-radius: 1.6rem;
    border: 1px solid #e0e7f1;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
}

.rl-form .rl-input-group .rl-input-group_icon{
  position:absolute;
}

.rl-form  .rl-input-group_combo{
  display: flex;
  flex-wrap: wrap;
  position:relative;
}
.rl-form .rl-input-group_combo .rl-input-group:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
}

.rl-form .rl-input-group_combo .rl-input-group:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50%;
}

.rl-input-group .rl-input-group_input {
  transition: .25s ease-in-out all;
  order: 1;
  font-size: 1rem;
  font-weight: 300;
  color: #1a124a;
  background-color: transparent;
  border: none;
  outline: none;
  height: 2rem;
  width: 100%;
  margin-left: 1.5rem;
  cursor: pointer;
}

.rl-input-group .rl-input-group_icon{
  position:absolute;
  top: 2.25rem;
  left:1rem;
  transition: .25s ease-in-out all;
  margin-right: 1rem;
  
}

.rl-input-group .rl-input-group_label{
  position: relative;
 
  left:1.5rem;
}

.rl-tours{
  display: flex;
  justify-content: space-around;
  height: 500px;
  margin: 200px 150px 100px 150px;
  padding: 5% 5%;
  text-align: center;
}
.rl-tours .rl-tour{
  float:left
}

.rl-footer{
  display: flex;
  flex-direction: row;
  width:100%;
  padding: 3rem 6rem;
  border-top:.1px solid;
}
.rl-footer .branding{
  padding: 3px 5px;
  text-align: center;
}
.rl-footer .branding h1{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  transition: 0.3s ease;
  color: #0f8c44 ;
}

.rl-footer .branding span{
  color: rgb(248, 172, 31);
}

.rl-footer .branding h5{
  color: rgb(248, 172, 31);
  margin-top: 60px;
}

.branding .footer-media-icon{
  display: flex;
  column-gap: 1.6rem;
  font-size: 1.6rem;
  transition: 0.5 ease;
  justify-content: center;
  
}

.branding .footer-media-icon a{
  display: flex;
  padding: 6px;
  color:rgb(248, 172, 31);
  text-decoration: none;
  border: 1px solid rgb(248, 172, 31);
  border-radius: 30%;
  justify-content: center;
  align-items: center;
}

.rl-footer_footer{
  background-color: #0f8c44;
  color: #fff;
  padding: 3rem 5rem;
}


