<%- include("header") %>
<div>
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dolor earum necessitatibus obcaecati labore quos tempora eos repudiandae iste nam exercitationem delectus omnis doloremque porro quibusdam libero ea debitis quasi.</p>
</div>
<%- include("footer") %>
</body>
</html>