<footer>
    <div class="rl-footer">
        <div class="branding">
            <h1>< Resort-Life.<span>KZ</span>></h1>
            <h3> <b>Follow us</b></h3>
            <div class="footer-media-icon">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="rl-footer-item contacts">
            <h5>Contact Us</h5>
            <p>
                <b>Nur-Sultan</b><br>
                World Travel <br>
                <a href="tel:+7 701 222 9839"></a> +7 701 222 9839 <br>
                <a href="mailto:resort-life-kz@gmail.com">resort-life-kz@gmail.com</a>
                <br>
                Resort Life Travel Kz Pvt Ltd. is a leading inbound tour operator since 2006, with 15 years of experience in the Maldivian tourism industry.
                 Our service portfolio spans all major hotel brands of the Mal
            </p>
        </div>
        <div class="rl-footer-item navigation">
            <h5>Navigation</h5>
                <a href="">Home</a>
                <a href="">Plan a trip</a>
                <a href="">Things to do</a>
                <a href="">About Maldives</a>
                <a href="">All hotels</a>
                <a href="">About</a>
            </ul>
        </div>
        <div class="rl-footer-item links">
            <h5>Useful links</h5>
            <a href="">Terms and conditions</a>
            <a href="">Privacy policy</a>
                
            </ul>
        </div>
        
        
        
    </div>
    <div class="rl-footer_footer">
        <p>© Copyright 2022 Maldives Travel. All rights reserved.</p>
    </div>

    
</footer>
